{% extends "base_tpl.html" %}

{% block content %}
<h1>
    Домашнее задание к модулю Е6
    <small class="text-muted">сделал на flask</small>
</h1>

<p class="h4">Задание:</p>
<p><small>
    Для закрепления работы с контейнерами и их связи между собой вам предлагается реализовать веб-сервис, который возвращает числа Фибоначчи.
</small></p>
<p><small>
    Сервис должен по GET запросу с параметром k возвращать k-ое число Фибоначчи. Необходимо реализовать кеширование, то есть, если число уже было запрошено, результат должен браться из кеша, а не пересчитываться.
</small></p>
<p><small></small>
    Кеширование необходимо реализовать с помощью memcached (или redis), фреймворк для веб-сервиса используйте на ваше усмотрение, однако для такого небольшого проекта брать Django скорее перебор.
</small></p>
<p><small>
    Приложение должно запускаться в Docker. Код приложения должен быть выложен на github, вместе с файлами Dockerfile и docker-compose.yml. В репозитории в README.md вам нужно поместить инструкцию по запуску приложения.
</small></p>
<p><small>
    Дополнительно можно задеплоить это приложение в облачный сервис, например, Яндекс.Облако или mail.ru cloud solutions.
</small></p>
</br>
<p class="h4">Задание считается выполненным, если:</p>
<p class="lead">
    1. Прислана ссылка на репозиторий в github;
    2. Репозиторий содержит код приложения на Python, у которого есть эндпоинт, который GET запросу c параметром k считает k-ое число Фибоначчи;
    3. Рассчет k-ого числа Фибоначчи происходит только в случае, если ранее это число не запрашивалось, иначе значение берется из Redis или memcached;
    4. Приложение на Python и Redis могут быть запущены в контейнерах, и репозиторий содержит словесные (README.md) и машинные (Dockerfile, docker-compose.yaml) инструкции по запуску задания;
    5. Бонус: прислана ссылка этого приложения, развернутого в каком-либо облачном сервисе.

</p>
{% endblock %}