{% extends "base_tpl.html" %}

{% block content %}
    {% if form %}

        <h1>
            Само задание<br>
            <small class="text-muted">введи целое положительное число</small>
        </h1>

        <h4>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.number.label }}<br>
                    {{ form.number(size=6) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </h4>

    {% elif not_integer %}
        <p> Вы ввели не число или число не положительно, попробуйте еще раз:</p>
        <h4>
            <form action="" method="post" novalidate>
                {{ form1.hidden_tag() }}
                <p>
                    {{ form1.number.label }}<br>
                    {{ form1.number(size=6) }}
                </p>
                <p>{{ form1.submit() }}</p>
            </form>
        </h4>

    {% else %}
    
        <p class="text-sm-center"><strong>{{ number }}-ное</strong> число Фибоначчи равно = <strong style="word-wrap: break-word;">{{ fibo_for_number }}</strong></p>
        {% if from_cache %}
            <h4>Значение полученно из кэша</h4>
        {% else %}
            <h4>Значение рассчитано.</h4>
        {% endif %}
    {% endif %}

{% endblock %}